.btn {
    background-color: green;
    color: white;
    font-weight: 700;
    padding: 15px 100px;
    max-width: 100%;
    border: transparent;
    margin-bottom: 15px;
}

.btn:hover {
    background-color: darkgreen;
}